
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

img {
    border-radius: 10%;
	
}

body {
	background-color: #4D8DE3;
	font-family: 'Poppins', sans-serif;

}

img[src="bastillofrappe.jpg"] {
  width: 40%;
  margin-right: 200px;
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
}

img[src="bastillofrappe2.jpg"] {
  width: 40%;
  margin-top: 100px;
  margin-bottom: 100px;
}

img[src="castillo.jpg"] {
  width: 40%;
  margin-left: 700px;
  margin-bottom: 100px;
  margin-top:100px;
}